---
import type { CollectionEntry } from "astro:content";
import Meta from "./Meta.astro";
import { getPostPath } from "../utils/getPostPath";

export interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
const postPath = getPostPath(post);
---

<article class="border border-dashed border-foreground p-4 mb-4">
    <h2 class="text-lg font-semibold mt-0 border-0">
      <a href={postPath} class=""
        >{post.data.title}</a
      >
      {
        post.data.subtitle && (
          <small class="text-muted font-normal italic">
            {post.data.subtitle}
          </small>
        )
      }
    </h2>
    <Meta
      date={post.data.date}
      categories={post.data.categories}
      tags={post.data.tags}
    />
</article>
