---
import type { CollectionEntry } from "astro:content";
import Meta from "./Meta.astro";

export interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
---

<article class="border border-dashed border-foreground p-4 mb-4">
    <h2 class="text-lg font-semibold border-0">
      <a href={`/blog/${post.slug}/`} class=""
        >{post.data.title}</a
      >
      {
        post.data.subtitle && (
          <small class="text-muted font-normal italic">
            {post.data.subtitle}
          </small>
        )
      }
    </h2>

  <div class="mt-2 text-sm text-muted">
    <Meta
      date={post.data.date}
      categories={post.data.categories}
      tags={post.data.tags}
    />
  </div>
</article>
