---
interface Props {
  date?: Date | string;
  categories?: string[];
  tags?: string[];
}

const { date, categories, tags } = Astro.props;

const formattedDate =
  date instanceof Date
    ? date.toISOString().slice(0, 10)
    : date ?? null;
---

<div class="flex justify-between items-center text-sm text-muted">
  <span>{formattedDate}</span>
  <span>
    {
      categories && categories.length > 0 && (
        <>
          {"{"}
          {categories.map((cat, index) => (
            <>
              <a
                href={`/categories/${cat.toLowerCase()}`}
                class="text-muted"
              >
                {cat}
              </a>
              {index < categories.length - 1 && ", "}
            </>
          ))}
          {"}"}
        </>
      )
    }
    {
      tags && tags.length > 0 && (
        <>
          {" "}
          [
          {tags.map((tag, index) => (
            <>
              <a
                href={`/tags/${tag.toLowerCase()}`}
                class="text-muted"
              >
                {tag}
              </a>
              {index < tags.length - 1 && ", "}
            </>
          ))}
          ]
        </>
      )
    }
  </span>
</div>
